.picture {
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC; padding: 3px;
  text-align: center;
  margin: 0 0 18px 0;
  width: 647px;
  color: #000;
}

.picture img {
  border: 1px solid #CCCCCC;
  vertical-align:middle; margin-bottom: 3px;
}

#container {
  background-color: darkred;
  color: white;
  padding: 5px;
}

.tabs {
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}

.tab {
  position: relative;
  display: inline;
  vertical-align: bottom;
  margin: 0px;
}

.tabContent {
  position: relative;
  border: 1px solid crimson;
  background-color: crimson;
  padding-left: 4px;
  padding-right: 4px;
}

button {
  background-color: crimson;
  border-color: crimson;
  border-bottom: none;
  color: white;
}
