body {
  position: relative;
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
}

#container {
  position: relative;
  width: 99%;
  height: 253px;
  padding: 10px;
  padding-right: 0px;
  background-color: white;
  margin-top: 20px;
}

.tabs {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  float: left;
  display: inline;
}

.tab {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
}

button {
  position: relative;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: gray;
  border-right: none;
  color: white;
  background: dimgray;
  background-image: -webkit-linear-gradient(top, gray, dimgray);
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.selected {
  background-color: slategray;
  background-image: -webkit-linear-gradient(top, dimgray, slategray);
}

.tabContent {
  position: relative;
  box-sizing: border-box;
  width: 450px;
  height: 253px;
  float: left;
  display: inline;
  padding: 10px;
}

.tabContent h3 {
  position: relative;
  color: red;
  background-color: rgba(0,0,0,.5);
  padding: 5px;
}

.tabContent p {
  color: white;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
}

#tabContent1 {
  background-image: url(../img/arena_art/modes-sr.jpg);
}

#tabContent2 {
  background-image: url(../img/arena_art/modes-tt.jpg);
}

#tabContent3 {
  background-image: url(../img/arena_art/modes-ha.jpg);
}

#tabContent4 {
  background-image: url(../img/arena_art/modes-cs.jpg);
}

#imageRotator {
  position: relative;
  display: inline;
  box-sizing: border-box;
}

#picture {
  position: relative;
  width: 25%;
  margin: 20px;
}
